---
import BaseHead from "@/components/BaseHead.astro";
import CosmicBackground from "@/components/CosmicBackground.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";
import "../styles/cosmic-text.css";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<script>
			console.log("🚀 Oakley Hall - Principal Software Engineer 🚀");
			console.table({
				LinkedIn: "linkedin.com/in/oakleyhall",
				GitHub: "github.com/ohall",
				Medium: "medium.com/@oakley349",
			});
		</script>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body
		class="flex min-h-screen flex-col font-mono text-sm font-normal text-textColor antialiased relative"
	>
		<CosmicBackground />
		<div class="mx-auto max-w-3xl w-full px-4 sm:px-8 pt-16 relative z-20 bg-transparent flex-1 flex flex-col min-h-screen pointer-events-auto">
			<ThemeProvider />
			<SkipLink />
			<Header />
			<main id="main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>